* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./pexels-maxyne-barcel-10402282\ 1.png);
    background-repeat: no-repeat;
    background-size: 1440px 700px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 30px;
    margin: 30px 0 0 25px;
}

ul {
  list-style-type: none;
  display: flex;
/*   margin-right: 75px; */
}

li {
  padding: 19px;
  font-weight: 600;
  color: rgb(247, 247, 32);
  font-size: 1rem;
  margin-top: 20px;
}

button {
    color: #fff;
    background-color: rgb(226, 93, 93);
    border: none;
    font-weight: 600;
}

.order-button {
    font-size: 18px;
    padding: 5px 18px;
    border: none;
    margin-right: 30px;
    margin-top: 23px;
}

.main-text {
    color: rgb(247, 247, 32);
    font-weight: 900;
    font-size: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-button {
    padding: 16px 25px;
    margin-top: 25px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

footer {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: auto;
    
}

.scroll {
    width: 120px;
    height: 120px;
}